# Core functionality - changes here should be rare!
/src/app.py                   @AlinHarapu
/src/backend/database.py      @AlinHarapu
/src/backend/routers/auth.py  @AlinHarapu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AlinHarapu
